<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new product</title>
    <link rel="stylesheet" href="CSS/nadine-temp-ss.css">
    <link rel="stylesheet" href="CSS/add.css">
    <link rel="stylesheet" href="CSS/chatin.css">
    <link rel="shortcut icon" type="image/jpg" href="photos/thebluelogo.png" />

    <script src="https://kit.fontawesome.com/6baebf3609.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(function() {
            $("#header").load("storenavii.html");
            $("#chatbox").load("chattin.html");
        });
    </script>
    <style>
        .body {
            grid-template-columns: 3fr 10fr 3fr;
        }
    </style>
</head>

<body>
    <style>
        input[type="text"],
        input[type="url"],
        input[type="number"],
        textarea,
        select {
            display: block;
            width: 100%;
            padding: 10px;
            border: 2px solid #89bbbb;
            border-radius: 5px;
            font-size: 16px;
            color: #1C4C56;
            box-sizing: border-box;
            margin-bottom: 10px;
        }
    </style>
    <div class="grid-container">

        <div class="header">
            <div id="header"></div>
        </div>
        <div class="body">
            <div class="formss">
                <form onsubmit="return validateForm()" action="/submit-product" method="POST">
                    <label for="product-name">Product Name:</label>
                    <input type="text" id="product-name" name="product_name" placeholder="Enter product name..." required>
                    <br>

                    <label for="product-description">Product Description:</label>
                    <textarea id="product-description" name="product_description" placeholder="Enter product description..."></textarea>
                    <br>

                    <label for="product-price">Price:</label>
                    <input type="number" id="product-price" name="product_price" step=".01" min="0" placeholder="Enter product price..." required>
                    <br>

                    <label for="product-image">Image URL:</label>
                    <input type="url" id="product-image" name="product_image" placeholder="Enter image URL...">
                    <br>

                    <label for="product-category">Category:</label>
                    <select id="product-category" name="product_category">
          <option value="">-- Select category --</option>
          <option value="books">Books</option>
          <option value="electronics">Electronics</option>
          <option value="clothing">Clothing</option>
          <option value="home">Home &amp; Garden</option>
        </select>
                    <br>

                    <label for="product-tags">Tags (comma-separated):</label>
                    <input type="text" id="product-tags" name="product_tags" placeholder="Enter product tags...">
                    <br>

                    <button type="submit">Add Product</button>
                </form>
            </div>
        </div>
        <!-- <div class="formss">
        <form>
            <label for="productname">*Product Name:</label>
            <input type="text" id="productname" name="productname" required minlength="3" maxlength="30" placeholder="Enter your product's name">
            <label for="description">*Description:</label>

            <textarea id="description" name="description" required minlength="15" maxlength="300" placeholder="Make your description clear to help people understand your product"></textarea>
            <label for="currency-field">*Price:</label>
            <input type="text" name="currency-field" id="currency-field" value="" data-type="currency" placeholder="$100.00">
            <label for="radionature">*Nature:</label>

            <div id="radionature">
                <input type="radio" id="order" name="nature" value="by-order">
                <label for="by-order">By Order</label><br>
                <input type="radio" id="order" name="nature" value="CSS">
                <label for="css">Ready For Shipment</label><br>
                <input type="radio" id="javascript" name="nature" value="JavaScript">
                <label for="javascript">Digital</label><br>
            </div>



            <input type="text" id="productname" name="productname" required minlength="3" maxlength="30" placeholder="Enter your product's name"> *
            <textarea required minlength="15" maxlength="300" placeholder="Make your description clear to help people understand your product"></textarea>*
            <input type="text" name="currency-field" id="currency-field" value="" data-type="currency" placeholder="$1,000,000.00">
            <input type="submit" class='btn js-add-btn' value="Add Product">

        </form>

    </div>-->


        <div class="footer">

        </div>
        <div class="chatbox">
            <div id="chatbox"></div>
        </div>
    </div>


</body>

</html>