<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />
    <link rel="stylesheet" href="/css/admin/admin-sellings.css">
    <link rel="stylesheet" href="css/reponsiveTable.css">
  </head>

  <body>
    <%- include('../partials/adminNav.ejs') %>
    
    <main class="table">
      <section class="table_header">
        <h1>All Users</h1>
      </section>
      <section class="table_body">
        <table>
          <thead>
            <tr>
              <th> ID </th>
              <th> E-mail </th>
              <th> User name </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
    <a href="/admin/dashboard/usings/user">Add User</a>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>