<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin Insights</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 
	<script src="app.js"></script>
	<!-- adding an favicon -->
    <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />
    <link rel="stylesheet" href="/css/admin/admin-stats.css"> 
     
</head>

<body>
	<header>
		<h1>Admin Insights</h1>
	</header>
	<nav>
		<ul>
			<li><a href="#">Overview</a></li>
			<li><a href="#">Users</a></li>
			<li><a href="#">Revenue</a></li>
			<li><a href="#">Traffic Sources</a></li>
		</ul>
	</nav>
    <script>
        // Replace the placeholders with actual data
        document.getElementById("status").textContent = "Online";
        document.getElementById("users").textContent = "1000";
        document.getElementById("revenue").textContent = "$5000";
        document.getElementById("traffic-sources").textContent = "Organic, Referral, Direct";
      </script>
	<main>
		<section>
			<h2>Site Status</h2>
			<canvas id="siteStatusChart"></canvas>
		</section>
		<section>
		 
			<h2>Users</h2>
			<p><%= ay7aga %></p>
		</section>
		<section>
			<h2>Revenue</h2>
			<p><%= real_revenue %></p>
		</section>
		<section>
			<h2> most viewd product </h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tristique felis quis massa finibus blandit. Sed bibendum erat ligula, sed lobortis mi vestibulum auctor. Etiam at convallis leo.</p>
		</section>
	</main>
	<footer>
		<%- include('../partials/footer.ejs') %>
	</footer>
</body>
</html>