<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sellers</title>
    <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />
    <link rel="stylesheet" href="/css/admin/admin-sellings.css">
</head>

<body>
    <%- include('../partials/adminNav.ejs') %>
        <div class="sells">
            <div class="products">
                <h2>Products</h2>
                <table>
                    <tr>
                        <th>Product name</th>
                        <th>Seller</th>
                        <th>Price</th>
                        <th>Count In Stock</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td><input name="name" type="text"></td>
                        <td><input name="seller" type="text"></td>
                        <td><input name="price" type="text"></td>
                        <td><input name="count" type="text"></td>
                        <td><input name="category" type="text"></td>
                        <button onclick="addItem()"> Plus one </button>
                    </tr>
                </table>
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>
</body>

</html>