<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/admin-dashboard.css">
    <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />

</head>

<body>
    <div class="dash">
        <nav>
            <li class="welcomes">welcome <%= name %></li>
            <li><a href="/">Tamarai</a></li>
            <li ><a class="active" href="/admin/dashboard">Dashboard</a></li>
            <li><a href="/admin">Sign In</a></li>
        </nav>
    </div>
    
    

</body>

</html>