<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />
    <link rel="stylesheet" href="/css/admin/admin-profile.css">
</head>

<body>
    <%- include('../partials/adminNav.ejs') %>

    <div class="profile">
        <div class="pfp">
            <img src="/images/sols.jpg" alt="profilin">
        </div>
        <div class="admininfo">
            <span class="n">
                <label for="name">Name</label>
                <span>Solsol</span>
            </span>
            <span class="u">
                <label for="usrname">Username</label>
                <span>solsol</span>
            </span>
            <span class="p">
                <label for="password">Password</label>
                <span>passes</span>
            </span>
            <span class="t">
                <label for="type">Type</label>
                <span>Admin</span>
            </span>

        </div>
    </div>

    <%- include('../partials/footer.ejs') %>
</body>

</html>