<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add user</title>
    <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />
    <link rel="stylesheet" href="/css/admin/admin-sellings.css">
</head>

<body>
    <%- include('../partials/adminNav.ejs') %>

        <h1>Add Admin</h1>
        <div class="words">or choose your user</div>

        <a href="/admin/dashboard/usings/user"><span class="use"><img src='/images/user.png' alt="using" /></span></a>
        <span class="adds" style="top: 28%;"><img src='/images/settings.png' alt="sets" /></span>
        <a href="/admin/dashboard/usings/seller"><span class="vend"><img src='/images/shopping-bag.png'
                    alt="sells" /></span></a>

        <div class="line"></div>

        <form action="/admin/dashboard/addAdmin" method="post">
            <div class="users" style="left: 15%;">
                <label for="username"> username </label>
                <input id="username" type="text" placeholder="username" name="username"> <br>
                <div id="error-div">
                </div>
            </div>
            <div class="passes" style="left: 15%;">
                <label for="password"> password </label>
                <input id="password" type="password" placeholder="password" name="password"> <br>
                <div id="error-div">
                </div>

            </div>

            <button class="URbutton" type="submit" style="top: 75%;">Sign up</button>
        </form>
        <%- include('../partials/footer.ejs') %>
</body>

</html>