    <label for="username"> username </label>
    <input id="username" name="username" type="text" placeholder="username" value="<%= admin.username %>"><br>

    <label for="password"> password </label>
    <input id="password" name="password" type="password" placeholder="password" value="<%= admin.password %>"><br>