<header>
    <nav>
        <a href="/">Home</a>
        <ul>
            <li><a href="../Admin/admin-dashboard.ejs">Dashboard</a></li>
            <li><a href="../Admin/admin-sign-in.ejs">Sign Out</a></li>
        </ul>
        
        
    </nav>
</header>