<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/admin-Nav.css">
</head>
<body>
    <nav>
        <li class="welcomes">Welcome</li>
        <div class="searchCntrl">
            <input type="text" placeholder="Search" id="searches" onkeyup="sendData(this)">
            <section id="srchResults">
            </section>
        </div>
        <li><a href="/"> Tamarai</a></li>
        <li><a class="active" href="/admin/dashboard"> Dashboard</a></li>
        <li><a href="/user/homepage"> User Homepage</a></li>
        <li><a href="/seller/dashboard"> Seller Dashboard</a></li>
    </nav>
        <div class="navtoo" style="display:block;" id="navtoo" style="z-index: 9;">
                <li><a href="/admin/dashboard"><img src="/images/home.png" alt="homely" ></a></li>
                <li><a href="/admin/dashboard/stats"><img src="/images/chart-histogram.png" alt="stat"></a></li>
                <li><a href="/admin/dashboard/messages"><img src="/images/envelope.png" alt="messy"></a></li>
                <li><a href="/admin/dashboard/sellings"><img src="/images/shopping-cart.png" alt="sells"></a></li>
                <li><a href="/admin/dashboard/usings"><img src="/images/user-add.png" alt="uses"></a></li>
                <li><a href="/admin/dashboard/settings"><img src="/images/settings.png" alt="sets"></a></li>
        </div>
</body>
<!-- <script src="/js/adminNavFunctions.js"></script> -->
</html>