<head>
    <link rel="stylesheet" href="css/admin-sign-in.css" />
</head>
<header>
    <nav>
        <a href="/">Tamarai</a>
        <a href="/admin-sign-in">Sign In</a>
        <a href="/admin-dashboard">Dashboard</a>
    </nav>
</header>