<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/admin-Nav.css">
</head>
<body>
    <nav>
        <li class="welcomes">Welcome</li>
        <li><a href="/"> Tamarai</a></li>
        <li><a class="active" href="/admin/dashboard"> Dashboard</a></li>
        <li><a href="/user/homepage"> User Homepage</a></li>
        <li><a href="/seller/dashboard"> Seller Dashboard</a></li>
    </nav>
        <div class="navtoo" style="display:block;" id="navtoo" style="z-index: 9;">
                <li><a href="/admin/dashboard">Home</a></li>
                <li><a href="/admin/dashboard/stats">Stats</a></li>
                <li><a href="/admin/dashboard/finances">Finances</a></li>
                <li><a href="/admin/dashboard/messages">Messages</a></li>
                <li><a href="/admin/dashboard/sellings">Sellings</a></li>
                <li><a href="/admin/dashboard/usings">Usings</a></li>
                <li><a href="/admin/dashboard/settings">Settings</a></li>
        </div>
</body>
<script>
    function nav()
    {
        if(document.getElementById("navtoo").style.display == "block")
        {
            navClose();
        }
        else if (document.getElementById("navtoo").style.display == "none")
        {
            navOpen();
        }
    }
    function navOpen() {
      document.getElementById("navtoo").style.display = "block";
    }
    
    function navClose() {
      document.getElementById("navtoo").style.display = "none";
    }
</script>
</html>