<head>
    <link rel="stylesheet" href="css/admin-sign-in.css" />
</head>
<header>
    <nav>
        <a href="index.ejs">Tamarai</a>
        <a href="/admin-sign-in.ejs">Sign In</a>
        <a href="/admin-dashboard.ejs">Dashboard</a>
         
    </nav>
</header>