<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/css/chat.css' />
    <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />
</head>

<body>
    <button class="open-button" onclick="openForm()">Chat</button>

    <div class="chat-popup" id="myForm">
        <form class="form-container" onsubmit="sendMessage(event)">
            <h1>Chat</h1>
            <div class="msgscontainer" id="msgscontainer">
            </div>
            <!--<label for="msg"><b>Message</b></label>-->
            <div class="msgndsend">
                <textarea placeholder="Type message.." name="msg" required class="wrmsg" id="msgInput"></textarea>

                <button type="submit" class="btnsubmit"><i class="fa-regular fa-paper-plane"></i></button>
            </div>

            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>

    <script src="/JS/chat.js" crossorigin="anonymous"></script>
</body>

</html>