<!-- <!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/css/chat.css' />
    <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />
</head>

<body>
    <button class="open-button" onclick="openForm()">Chat</button>

    <div class="chat-popup" id="myForm">
        <form class="form-container" onsubmit="sendMessage(event)">
            <h1>Chat</h1>
            <div class="msgscontainer" id="msgscontainer">
            </div>
            <div class="msgndsend">
                <textarea placeholder="Type message.." name="msg" required class="wrmsg" id="msgInput"></textarea>

                <button type="submit" class="btnsubmit"><i class="fa-regular fa-paper-plane"></i></button>
            </div>

            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>

    <script src="/JS/chat.js" crossorigin="anonymous"></script>
</body>

</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <title>Document</title> -->
</head>
<body>
    <div class="main">
        <h2>ChatBox</h2>
        <div id="msg_area">
            <div class="robot">
                <div class="bot"></div>
                <h3>Aco ChatBot</h3>
            </div>
        </div>
        <div id="input">
            <input type="text" id="text" placeholder="New Message">
        </div>
    </div>
</body>
</html>