<html>
    <head>
        <link rel="stylesheet" href="/css/userHomepage.css" />
    </head>
    <body>
        <footer>
            <div class="footer-content">
                <h1 class="footer-title"><img src="/images/thewhiteicon.png"alt="Tamarai Logo" style="width:50px;height:50px;">Tamarai</h1>
                <div class="footer-ul-container">
                    <ul class="category">
                        <li class="category-title">Handmade</li>
                        <li><a href="" class="footer-link">Clothing</a></li>
                        <li><a href="" class="footer-link">Hand Crafts</a></li>
                        <li><a href="" class="footer-link">Furniture</a></li>
                        <li><a href="" class="footer-link">Accessories</a></li>
                        <li><a href="" class="footer-link">Art</a></li>
                        <li><a href="" class="footer-link">Vintage</a></li>
                        <li><a href="" class="footer-link">Toys</a></li>
                    </ul>
                    <ul class="category">
                        <li class="category-title">Retailer</li>
                        <li><a href="#" class="footer-link">Clothing</a></li>
                        <li><a href="#" class="footer-link">Hand Crafts</a></li>
                        <li><a href="" class="footer-link">Furniture</a></li>
                        <li><a href="" class="footer-link">Accessories</a></li>
                        <li><a href="" class="footer-link">Art</a></li>
                        <li><a href="" class="footer-link">Vintage</a></li>
                        <li><a href="" class="footer-link">Toys</a></li>
                    </ul>
                </div>
            </div>
            <!-- <h1 style="text-align: left;" class="footer-title">Tamarai</h1> -->
            <p class="info">We could not have reached this milestone of achievement without you.</p>
            <p class="info">Support Emails - help@tamarai.com, support@tamarai.com</p>
            <p class="info">Telephone - 0123456789</p>
            <div class="footer-social-container">
                <div>
                    <a href="#" class="social-link">Terms & Services</a>
                    <a href="#" class="social-link">Privacy & Policy</a>
                </div>
                <div>
                    <div class="social-media">
                        <a href="#"><i class="bx bxl-linkedin-square"></i></a>
                        <a href="#"><i class="bx bxl-facebook-square"></i></a>
                        <a href="#"><i class="bx bxl-instagram-alt"></i></a>
                        <a href="#"><i class="bx bxl-github"></i></a>
                    </div>
                </div>
            </div>
            <p class="footer-credit">Tamarai, Best Online store.</p>
        </footer> 
    </body>
</html>