<!-- Take this code copy to have the navigation bar in your page -->
<!-- <%- include("./partials/indexnav.ejs") %> -->
<html>

<head>
    <link rel='stylesheet' href='css/nav.css' />
</head>

<body>
    <nav class="navbar">
        <div class="nav">
            <span class="title"><h1>Tamarai</h1></span>
            <div class="nav_items">
                <div class="search">
                    <div class="box">
                        <input type="text" placeholder="Search..." />
                        <a href="#">
                            <i class="fas">
                                <!-- <img src="photos/search.png" style="width: 18px; height: 18px" /> -->
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <ul class="links">
            <li class="link-item"><a href="" class="link">Home</a></li>
            <li class="link-item"><a href="" class="link">Craft</a></li>
            <li class="link-item"><a href="" class="link">Women</a></li>
            <li class="link-item"><a href="" class="link">Men</a></li>
            <li class="link-item"><a href="" class="link">kids</a></li>
            <li class="link-item"><a href="" class="link">Accessories</a></li>
            <li class="link-item"><a href="" class="link">Gifts</a></li>
        </ul>
        <a href="User/user-sign-in.ejs">Sign In</a>
        <a href="User/user-register.ejs">Sign Up</a>
    </nav>
</body>

</html>