<link rel="stylesheet" href="/css/sellersc.css">
<link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />
<section id="navi">

    <ul id="navbar">
        <li>
            <img src="/images/thewhiteicon.png" alt="blue lotus logo" style="width:40px;height:40px;">
        </li>
        <li>
            <a href="store-analysis.html">Analysis</a>
        </li>
        <li>
            <a href="/seller/products.ejs">Listings</a>
        </li>
        <li>
            <a href="/seller/info">Info</a>
        </li>
        <li>
            <a href="add_product.html">My Products</a>
        </li>

    </ul>
    <a href='Vendor-Sign-In.html'><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
</section>