<link rel="stylesheet" href="/css/sellersc.css">
<link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />
<div class="nav">
    <img src="/images/thebluelogo.png" class="brand-logo" alt="Tamarii Logo">
    <span class="title"><h1>Tamarai</h1></span>
    <div class="nav_items">
        <div class="search">
            <div class="box">
                <input type="text" id="search-box" placeholder="Search..." onkeyup="sendData(this)">
                <section id="searchResults"></section>
                <a href="#">
                    <i class="fas"><img src="/images/search.png" style="width:18px;height:18px"></i>
                </a>
            </div>
            <a href="profile.html"><img src="/images/user2.0.png" alt="user"></a>
            <a href="/user/homepage/bag"><img src="/images/shoppingCart.png" alt="cart"></a>
            <a href="/user/homepage/whishlist"><img src="/images/wishlist.png" alt="Wishlist"></a>
        </div>
    </div>
</div>
<ul class="links">
    <li class="link-item"><a href="" class="link">Home</a></li>
    <li class="link-item"><a href="" class="link">Craft</a></li>
    <li class="link-item"><a href="" class="link">Women</a></li>
    <li class="link-item"><a href="" class="link">Men</a></li>
    <li class="link-item"><a href="" class="link">kids</a></li>
    <li class="link-item"><a href="" class="link">Accessories</a></li>
    <li class="link-item"><a href="" class="link">Gifts</a></li>
</ul>