<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/sellersc.css">
    <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />
</head>

<body>
    <div class="nav">
        <img src="/images/thebluelogo.png" class="brand-logo" alt="Tamarii Logo">
        <span class="title">
            <h1>Tamarai</h1>
        </span>
        <div class="nav_items">
            <div class="search">
                <div class="box">
                        <input type="text" placeholder="Search" id="searches" onkeyup="sendData(this)">
                        <section id="srchResults">
                        </section>
                </div>
                <a href="profile.html"><img src="/images/user2.0.png" alt="user"></a>
                <a href="/user/homepage/bag"><img src="/images/shoppingCart.png" alt="cart"></a>
                <a href="/user/homepage/whishlist"><img src="/images/wishlist.png" alt="Wishlist"></a>
            </div>
        </div>
    </div>
    <ul class="links">
        <li class="link-item"><a href="" class="link">Home</a></li>
    </ul>
</body>
<script>

    function sendData(e) {
        const searchResults = document.getElementById('searchResults');
        fetch('getProducts', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ payload: e.value })
        }).then(res => res.json()).then(data => {
            let payload = data.payload;
            // console.log(payload);
            searchResults.innerHTML = '';
            if (payload.length < 1) {
                searchResults.innerHTML = '<p>Sorry. Nothing Found.</p>';
                return;
            }
            payload.forEach((item, index) => {
                if (index > 0) {
                    searchResults.innerHTML += '<hr>';
                }
                searchResults.innerHTML += `<p>${item.name}</p>`;
            });
        });
    }
</script>

</html>