#https://github.com/essam-eliwa/ecom-app/blob/main/routes/products.js
# pallette
--straw: #d6bd91;
--blue-dianne: #1c4c56;
--cement: #8e7e64;     
--gulf-stream: #89bbbb;
--smalt-blue: #518f99;
--calypso: #2a7589;
--bali-hai: #83a7b6;
--bunker: #0d1516;   da lel text kollo
--black-marlin: #3a2f18; 
--pumpkin-skin: #b4640c;

node_modules/.package-lock.json
package-lock.json
package.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# ignore video files
*.mp4

# ignore all files starting with . or ~
.*
~*

# ignore .DS_Store
.DS_Store

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/


# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env
.env
