<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6baebf3609.js" crossorigin="anonymous"></script>

    <title>Seller Dashboard</title>
    <!-- Adding a favicon  -->
    <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />
</head>

<body>
    <%- include('../partials/sellernav.ejs') %>

        <h1>Seller Insights</h1>

        <section class="sales-overview">
            <h2>Sales Overview</h2>
            <p>Total Revenue:
            </p>
            <p>Total Orders:
            </p>
            <p>Average Order Value:
            </p>
        </section>

        <section class="product-performance">
            <h2>Product Performance</h2>
            <table>
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Units Sold</th>
                        <th>Revenue</th>
                        <th>Customer Ratings</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                            = =</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="sales-trends">
            <h2>Sales Trends</h2>
            <canvas id="salesChart"></canvas>
        </section>

        <section class="customer-insights">
            <h2>Customer Insights</h2>
            <table>
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Age</th>
                        <th>Location</th>
                        <th>Purchase History</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <!-- Include other sections for order fulfillment, inventory management, and financial reports -->
        <%- include('../partials/footer.ejs') %>
            <%- include('../partials/translate.ejs') %>
</body>

</html>