<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/sellersc.css">
    <!--this is nadine-temp-ss-->
    <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />
    <script src="https://kit.fontawesome.com/6baebf3609.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>Store Information</title>
    <style>

    </style>

</head>

<body>
    <div class="chatbox ">
        <div>
            <%- include('../partials/chat.ejs') %>
        </div>
    </div>
    <div class="grid-container">
        <div id="header">
            <%- include('../partials/sellernav.ejs') %>
        </div>
        <div id="body">

            <div class="store-info">
                <h2>Store Information</h2>
                <form>
                    <label for="store-name">NAMESAMPLE</label>
                    <p type="text" id="store-name" name="store-name" value="Little B. Store"></p>
                    </p><br>

                    <label for="store-description">Description:</label>
                    <p id="store-description" name="store-description">This is a sample store description.</p><br>

                    <label for="store-logo">Logo:</label>
                    <input type="file" id="store-logo" name="store-logo">
                    <br>

                    <label for="store-banner">Banner:</label>
                    <input type="file" id="store-banner" name="store-banner"><br>

                    <label for="store-category">Category:</label>
                    <select id="store-category" name="store-category">
                        <option value="books">Books</option>
                        <option value="electronics">Electronics</option>
                        <option value="clothing">Clothing</option>
                    </select><br>

                    <button class="btn-edit" id="edit-button">Edit</button>
                </form>
            </div>
        </div>
    </div>


    <script>
        /*const editButton = document.getElementById('edit-button');
                                                                                                                        editButton.addEventListener('click', () => {
                                                                                                                            const storeName = encodeURIComponent(document.getElementById('store-name').value);
                                                                                                                            const storeDescription = encodeURIComponent(document.getElementById('store-description').value);
                                                                                                                            window.location.href = `edit-store-info.html?name=${storeName}&description=${storeDescription}`;
                                                                                                                        });

                                                                                                                        // Check if there are query parameters in the URL (i.e., if we are returning from page 2)
                                                                                                                        const urlParams = new URLSearchParams(window.location.search);
                                                                                                                        if (urlParams.has('name') && urlParams.has('description')) {
                                                                                                                            const storeNameInput = document.getElementById('store-name');
                                                                                                                            const storeDescriptionTextarea = document.getElementById('store-description');

                                                                                                                            storeNameInput.value = decodeURIComponent(urlParams.get('name'));
                                                                                                                            storeDescriptionTextarea.value = decodeURIComponent(urlParams.get('description'));
                                                                                                                        }*/
    </script>
</body>

</html>