<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
    <!-- <link rel="stylesheet" href="/css/userHomepage.css"> -->
    <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />
    <link rel="stylesheet" type="text/css" href="/css/sellersc.css">
    <script src="https://kit.fontawesome.com/6baebf3609.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/add.css">
    <link rel="stylesheet" href="/css/productcard.css">
    <link rel="stylesheet" type="text/css" href="/css/sellerproducts.css">
    <!--manage.css-->
    <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png">
</head>
<style>
    li {
        grid-row-start: auto;
    }

    .product-card {
        flex: 0 0 auto;
        width: 250px;
        height: 450px;
    }

    .product-image {
        position: relative;
        width: 100%;
        height: 350px;
        overflow: hidden;
    }

    .itemslist {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
        overflow-y: scroll;
    }

    .product-card {
        padding: 10px;
        margin: 0;
    }

    /*.column:nth-of-type(4) {
        width: 100px;
        /* Replace 300 with your desired width */
</style>

<body>
    <div class="chatbox ">
        <div>
            <%- include('../partials/chat.ejs') %>
        </div>
    </div>
    <div class="grid-container">
        <div id="header">
            <%- include('../partials/sellernav.ejs') %>
        </div>
    </div>
    <div>
        <%= sellers.username %>
    </div>
    <br>
    <div>
        <%= sellers.email %>
    </div>

</body>

</html>