<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/seller-signup.css">
    <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />
    <script src="https://kit.fontawesome.com/6baebf3609.js" crossorigin="anonymous"></script>
  </head>
  <body>
    
    <div class="signupFrm">
        <form action="/seller/register" class="form" method="post">
          <h1 class="title">Sign up</h1>
    
          <div class="inputContainer">
            <input type="text" class="input" placeholder="a" name="email" id="emailInput">
            <label for="" class="label">Email</label>
          </div>
          
          <div class="inputContainer">
            <input type="text" class="input" placeholder="a" name="username" id="usernameInput">
            <label for="" class="label">Username</label>
          </div>
          
          <div class="inputContainer">
            <input type="password" class="input" placeholder="a" name="password" id="passwordInput">
            <label for="" class="label">Password</label>
          </div>
          
          <div class="inputContainer">
            <input type="password" class="input" placeholder="a" id="confirmPasswordInput">
            <label for="" class="label">Confirm Password</label>
          </div>

    
          <input type="submit" class="submitBtn" value="Sign up">
        </form>
        <%- include('../partials/chat.ejs') %>
      </div>
      <%- include('../partials/footer.ejs') %>
  </body>
  <script src="/JS/valido.js"></script>
</html> -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/MainStyleSheet.css">
  <title>
    Vendor Register
  </title>
  <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />
</head>

<body>
  <div class="VSbk">
    <!-- <img src="/images/thewhiteicon.png" alt="logz" class="logo"> -->
    <h3 class="welcomes">Welcome Back!</h3>
    <div class="wordings"> Missed us? Hop right in,<br>Sign in now! </div>
    <a href="/seller"><button class="VSbutton" style="top: 65%; left: 35%;">Sign In</button></a>
  </div>
  <div class="VRegsiter">
    <div class="VReggie">
      <h2>Sign up to your account</h2>
      <div class="words">or choose your user</div>
      <a href="/user/register"><span class="use" style=" left: 39.5%;"><i href="#"><img src='/images/user.png'alt="using" /></i></span></a>
      <span class="vend" style="top: 28%; left: 49.5%;"><i href="#"><img src='/images/shopping-bag.png'alt="sells" /></i></span>
      <div class="line"></div>
    </div>
    <form action="/seller/register" method="post">
      <div class="users" style="left: 15%;">
        <label for="username"> username </label>
        <input id="username" type="text" placeholder="username" name="username"> <br>
        <span id="Uerror"></span>
      </div>
      <div class="passes" style="left: 15%;">
        <label for="password"> password </label>
        <input id="password" type="password" placeholder="password" name="password"> <br>
        <span id="Perror"></span>
      </div>
      <div class="email" style="left: 55%;">
        <label for="email"> email </label>
        <input id="email" type="email" placeholder="example@mail.com" name="email"> <br>
        <span id="Eerror"></span>
      </div>
      <div class="cpass" style="left: 55%;">
        <label for="cpass"> confirm pass </label>
        <input id="confirmpass" type="password" placeholder="confirm password" name="confirmPassword"> <br>
      </div>
      <div class="successfully" id="Success">Registration Successful!
      </div>
      <button class="VRbutton" type="submit" style="top: 75%;">Sign up</button>
    </form>
  </div>
</body>

</html>