<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/seller/seller-register.css">
  <title>
    Vendor Register
  </title>
  <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />
</head>

<body>
  <div class="seller">
    <div class="VSbk">

      <h3 class="welcomes">Welcome Back!</h3>
      <div class="wordings"> Missed us? Hop right in,<br>Sign in now! </div>

      <a href="/seller"><button class="VSbutton" style="top: 65%; left: 35%;">Sign In</button></a>

    </div>
    <div class="VRegsiter">
      <div class="VReggie">

        <h2>Sign up to your account</h2>

        <div class="words">or choose your user</div>

        <a href="/user/register"><span class="use" style=" left: 39.5%;"><i href="#"><img src='/images/user.png'
                alt="using" /></i></span></a>
        <span class="vend" style="top: 28%; left: 49.5%;"><i href="#"><img src='/images/shopping-bag.png'
              alt="sells" /></i></span>

        <div class="line"></div>
      </div>

      <form action="/seller/register" method="post">

        <div class="users" style="left: 15%;">
          <label for="username"> username </label>
          <input id="username" type="text" placeholder="username" name="username">
        </div>

        <div class="passes" style="left: 15%;">
          <label for="password"> password </label>
          <input id="password" type="password" placeholder="password" name="password">
        </div>

        <div class="email" style="left: 55%;">
          <label for="email"> email </label>
          <input id="email" type="email" placeholder="example@mail.com" name="email">
        </div>

        <div class="cpass" style="left: 55%;">
          <label for="cpass"> confirm pass </label>
          <input id="confirmpass" type="password" placeholder="confirm password" name="confirmPassword">
        </div>

        <button class="VRbutton" type="submit" style="top: 75%;">Sign up</button>

      </form>
    </div>
  </div>

  <%- include('../partials/translate.ejs') %>
</body>

</html>