<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Seller Add Product</title>
    <script src="https://kit.fontawesome.com/6baebf3609.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />
</head>
<body>
    <%- include('../partials/sellernav.ejs') %>
    <div class="adds">
        <form method="post" action="/seller/dashboard/add">
                <div class="name">Product Name : <input name="name" type="text"><div>
                <div class="brand">Brand : <input name="brand" type="text"></div>
                <div class="seller">Seller : <input name="seller" type="text"></div>
                <div class="price">Price : <input name="price" type="text"></div>
                <div class="image">Image : <input name="image" type="file"></div>
                <div class="count">Count In Stock: <input name="count" type="text" ></div>
                <div class="description">Description : <input name="description" type="text"></div>
                <div class="category">Category : <input name="category" type="text"></div>
                <div class="color">Color : <input name="color" type="color"></div>
                <button type="submit" id="updatebutts"> Plus One </button>
        </form>
    </div>
</body>
</html>