<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6baebf3609.js" crossorigin="anonymous"></script>

    <title>Seller Dashboard</title>

    <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />
</head>
<body>
    <%- include('../partials/sellernav.ejs') %>
    <h1>Seller Dashboard</h1>
    <%- include('../partials/footer.ejs') %>
</body>
</html>