<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Seller Add Product</title>
    <script src="https://kit.fontawesome.com/6baebf3609.js" crossorigin="anonymous"></script>
    <!-- Adding a favicon  -->
    <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/seller/add.css">
</head>

<body>
    <%- include('../partials/sellernav.ejs') %>
        <div class="adds">
            <h1>Add a Product</h1>
            <form enctype="multipart/form-data" method="post" action="/seller/dashboard/add" >
                <div class="name">Product Name : <input name="name" type="text" placeholder="name me"></div>
                <div class="brand">Brand : <input name="brand" type="text" placeholder="brand me"></div>
                <div class="seller">Seller : <%= sell %></div>
                <div class="price">Price : <input name="price" type="text" placeholder="price me "></div>
                <div class="image">Image : <input name="img" type="file" id="img" placeholder="imagins"></div>
                <div class="count">Count In Stock: <input name="count" type="text" placeholder="count me "></div>
                <div class="description">Description : <input name="description" type="text" placeholder="descibe me"></div>
                <div class="category">Category :
                    <input list="categories" name="categories"placeholder="categorize me" >
                    <datalist id="categories">
                        <% Cats.forEach(function(cats) { %>
                            <option value="<%=cats.name%>">
                        <% }); %>
                    </datalist>
                </div>
                <div class="color">Color : <input name="color" type="color" placeholder="color me"></div>
                <button type="submit" id="updatebutts"> Plus One </button>
            </form>
            </div>
            <!-- <%- include('../partials/footer.ejs') %> -->
</body>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $("#imgPreview").attr('src', e.target.result).width(100).height(100);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#img").change(function() {
        readURL(this);
    });
</script>

</html>