<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="/css/404.css">
    <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />

    <title>404 Error</title>

</head>

<body>

    <div class="row">

        <div class="left">
            <img src="/images/404.png" class="four0four-img" alt="404 Error">
        </div>

        <div class="right">
            <div class="content">
                <div class="four0four-title">What on earth are you doing here!?</div>
                <div class="four0four-msg">
                    <p class="oops">Oooooops!</p> Looks like you are lost</div>
                <div class="msg2">Well, this is awkward, the page you were trying to view does not exist.</div>
                <div class="home"><a href="/">Get yourself HOME</a></div>
            </div>
        </div>

    </div>
    
</body>

</html>