<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
</head>
<body>
    
    <!-- <nav>
        <div class="navbar">
            <div class="nav_logo d-flex align-center">
                <img src="photos/thebluelogo.png" alt="logz" style="width:50px;height:50px;">
                <h2> TAMARAI</h2>
            </div>
            <div class="nav_li">
                <ul class="d-flex align-center">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">fav</a>
                    </li>
                    <li>
                        <a href="#">profile</a>
                    </li>
                    <li>
                        <a href="#">Shopping-cart</a>
                    </li>
                    <i class="fas fa-search" id="search"></i>
                </ul>
                <div class="input_search d-flex">
                    <input type="text" placeholder="Search here">
                    <i class="fas fa-times font-16" id="remove"></i>
                </div>
            </div>
            <div class="nav_btn">
                <a href="User-Sign-In.html"><button style="right: 110px;">Log in</button></a>
                <a href="User-Register.html"><button>sign up</button></a>
            </div>
        </div>
    </nav>
     navbar 
    home
    <div class="banner">
        <div class="left-col">
            <h1>TAMA<span>RAI</span></h1>
            <h3>If you can't beat Lot(us), <span> Join Lot(us)</span></h3>
            <p>Tamarai is an e-commerce website for artistic ideas and art pieces that<br> allows a user to purchase and sell at the same time! So, Don't miss this chance.<br> Wanna Learn more about Tamarai?
            </p>
            <div class="btn">
                <a href="https://www.flowerglossary.com/lotus-flowers-meaning/"><button type="button">Learn More</button></a>
                <a href="Assignment1/index.html"><button type="button">About us</button></a>
            </div>
            <div class="social-icons">
                <img src="photos/twitter.png" alt="twitter">
                <img src="photos/facebook.png" alt="facebook">
                <img src="photos/instagram (1).png" alt="instagram">
                <img src="photos/pinterest.png" alt="pinterest">
            </div>
        </div>
        <div class="right-col">
            <img src="photos/main2.jpg" alt="main">
        </div>
    </div> -->
</body>
</html>