<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
    <link rel='stylesheet' href='css/index.css' />
</head>
<body>
    <%- include('partials/indexnav.ejs') %>
    <div class="banner">
        <div class="left-col">
            <h1>TAMA<span>RAI</span></h1>
            <h3>If you can't beat Lot(us), <span> Join Lot(us)</span></h3>
            <p>Tamarai is an e-commerce website for artistic ideas and art pieces that<br> allows a user to purchase and sell at the same time! So, Don't miss this chance.<br> Wanna Learn more about Tamarai?
            </p>
            <div class="btn">
                <button type="button">Learn More</button>
                <button type="button">About us</button>
            </div>
            <div class="social-icons">
                <!-- <img src="photos/twitter.png" alt="twitter"> -->
                <!-- <img src="photos/facebook.png" alt="facebook"> -->
                <!-- <img src="photos/instagram (1).png" alt="instagram"> -->
                <!-- <img src="photos/pinterest.png" alt="pinterest"> -->
            </div>
        </div>
        <div class="right-col">
            <!-- <img src="photos/main.jpg" alt="main"> -->
        </div>
    </div>
</body>
</html>