body
{
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

nav 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d6bd91;
}

nav li 
{
    float: right;
}

nav li a 
{
    font-size: 1.3vw;
    display: block;
    color: #0d1516;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) 
{
    color:white;
    background-color: #1c4c56;
    cursor: pointer;
}
nav li a.active 
{
    color:white;
    background-color: #1c4c56;
}

nav li.welcomes 
{
    font-size: 1.5vw;
    text-align: center;
    padding: 10px 16px;
    float: left;
}

@media screen and (max-width: 600px) 
{
    nav li.right, 
    nav li {float: none;}
}