/* .container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
} */


/* Darker chat container */

.darker {
    border-color: #ccc;
    background-color: #ddd;
}


/* Clear floats */


/* 
.container::after {
    content: "";
    clear: both;
    display: table;
} */


/* Style images */


/* .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
} */


/* Style the right image */


/* .container img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
} */


/* Style time text */

.time-right {
    float: right;
    color: #aaa;
}


/* Style time text */

.time-left {
    float: left;
    color: #999;
}

body {
    font-family: 'poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

* {
    box-sizing: border-box;
}


/* Button used to open the chat form - fixed at the bottom of the page */

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    bottom: 23px;
    right: 28px;
    width: 280px;
    position: fixed;
}


/* The popup chat - hidden by default */

.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}


/* Add styles to the form container */

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}


/* Full-width textarea */

.form-container textarea {
    width: 100%;
    padding: 15px;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 10px;
}


/* When the textarea gets focus, do something */

.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for the submit/send button */

.form-container .btn {
    background-color: #f1f1f1;
    color: #518f99;
    padding: 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
    opacity: 1;
}


/* Add a red background color to the cancel button */

.form-container .cancel {
    background-color: #900;
    color: white;
}


/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
    opacity: 3;
}

.msgndsend {
    display: grid;
    grid-template-columns: 10fr 1fr;
    margin: 5px 0 10px 0;
}


/* Full-width textarea */

.wrmsg {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid grey;
}


/* .msgndsend {
    display: flex;
} */


/* When the textarea gets focus, do something */

.wrmsg:focus {
    outline: none;
}


/* Set a style for the submit/send button */

.btnsubmit {
    background-color: #f1f1f1;
    color: #518f99;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    margin: 8px;
    margin-left: 0;
}


/* Add a red background color to the cancel button */

.cancel {
    background-color: #900;
}


/* Add some hover effects to buttons */

.btnsubmit:hover,
.open-button:hover,
.cancel:hover {
    opacity: 1;
}


/* Add a new CSS class for the message bubbles */

.msgbubble {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 20px;
    margin: 5px 0;
    max-width: 80%;
    word-wrap: break-word;
    /* Add this line to align the chat bubble to the right */
    align-self: flex-end !important;
}


/* Style for outgoing messages */

.msgbubble.outgoing {
    background-color: #DCF8C6;
    align-self: flex-end;
}


/* Style for incoming messages */

.msgbubble.incoming {
    background-color: #F0F0F0;
    align-self: flex-start;
}

.chat-popup h1 {
    text-align: center;
    color: #89bbbb;
    font-family: Arial;
}

p {
    font-size: 25px;
    /*  -webkit-text-stroke: 0.5px #ffffff;*/
}

h1 {
    font-size: 50px;
}