.grid-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 30px;
    justify-content: center;
}

.header {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: max;
}

.body {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    overflow: hidden;
}