* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

td img {
   width: 36px;
   height: 36px;
   margin-right: .5rem;
   border-radius: 50%;
   vertical-align: middle;
}