/*manage.css*/

.prlist {
    grid-row: 1/end;
    grid-column: 2;
    border-radius: 5px;
    background-color: #d6bd91;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
    display: grid;
    /*grid-template-columns: repeat(4, 1fr);*/
    height: auto;
    grid-row-gap: 40px;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
    justify-content: center;
    /* centers items horizontally */
    align-items: center;
    /* centers items vertically */
}

@media (max-width: 900px) {
    .prlist {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 680px) {
    .prlist {
        grid-template-columns: none;
    }
}

@media (min-width: 901px) {
    .product-card {
        width: width + 20%;
        height: auto;
    }
}

@media (min-width: 1285px) {
    .prlist {
        grid-template-columns: repeat(3, 1fr);
    }
}

.buttonadd:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

.buttonadd:active {
    background-color: #F7F7F7;
    border-color: #000000;
    color: #1C4C56;
    transform: scale(.96);
}

.buttonadd:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
}

.buttonadd {
    background-color: #1C4C56;
    border-radius: 8px;
    box-sizing: border-box;
    color: #d6bd91;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 10px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    -o-transition: box-shadow.2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    -webkit-user-select: none;
    user-select: none;
    width: auto;
    -webkit-transition: box-shadow.2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    -moz-transition: box-shadow.2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    -ms-transition: box-shadow.2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    transition: box-shadow.2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
}

.buttons {
    grid-row: 1;
    grid-column: 2;
}

.product-thumb {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.headoflist {
    grid-column: 1/end;
}

.product-card {
    justify-content: center;
    /* centers items horizontally */
    align-items: center;
    /* centers items vertically */
}