body {
    margin: 0;
    background-color: #ffffff;
    overflow: hidden;
}

* {
    color: #1C4C56;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

h1,
p {
    text-align: center;
    color: #89bbbb;
    font-family: Arial;
}

p {
    font-size: 25px;
    /*  -webkit-text-stroke: 0.5px #ffffff;*/
}

h1 {
    font-size: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: #ffffff;
    color: #89bbbb;
}

#navi {
    display: grid;
    grid-template-columns: 7fr 1fr;
    background-color: #89bbbb;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
}

.grid-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 30px;
}

.grid-container>div {
    /* border-color: black;
    border-style: solid;*/
    text-align: center;
}

.header {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: max;
}

.main {
    grid-row-start: 2;
    grid-row-end: max;
    grid-column: 2/span 5;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 10%;
}

i.fa-solid.fa-arrow-right-from-bracket {
    /*exit icon styling*/
    color: #ffffff;
}

i.fa-solid.fa-spa {
    /*lotus icon styling*/
    color: #ffffff;
    padding: 10px;
    padding-top: 15px;
}

section#productslist {
    background-color: #89bbbb;
    align-items: center;
}


/*scroll bar styling*/


/* Works on Firefox */

* {
    scrollbar-width: thin;
    scrollbar-color: #1C4C56 #ffffff;
}


/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #1C4C56;
    border-radius: 20px;
    border: 3px solid #ffffff;
}

.body {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    overflow: hidden;
}

.footer {
    position: sticky;
    grid-row: 5;
    grid-column: 1/end;
    background-color: #ffffff;
}