* {
    font-family: 'poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #89bbbb, #fff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cart-Container {
    width: 70%;
    height: 85%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #89bbbb;
    box-shadow: 0px 25px 40px #1C4C56;
}

.Header {
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Heading {
    font-size: 20px;
    font-weight: 700;
    color: #2F3841;
}

.Action {
    font-size: 14px;
    font-weight: 600;
    color: #900;
    cursor: pointer;
    border-bottom: 1px solid #900;
}

.Cart-Items {
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Cart-Items2 {
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-box {
    width: 15%;
    text-align: center;
}

.about {
    height: 100%;
}

.title {
    padding-top: 5px;
    line-height: 10px;
    font-size: 22px;
    font-weight: 600;
    color: #0d1516;
}

.subtitle {
    line-height: 10px;
    font-size: 15px;
    font-weight: 300;
    color: #8e7e64;
}

.counter {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
    color: #0d1516;
    cursor: pointer;
}

.count {
    font-size: 20px;
    font-weight: 900;
    color: #0d1516;
}

.prices {
    height: 100%;
    text-align: right;
}

.amount {
    padding-top: 20px;
    font-size: 26px;
    font-weight: 800;
    color: #0d1516;
}

.save {
    padding-top: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #89bbbb;
    cursor: pointer;
}

.remove {
    padding-top: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #900;
    cursor: pointer;
}

.remove2 {
    padding-top: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #900;
    cursor: pointer;
}

hr {
    width: 66%;
    float: right;
    margin-right: 5%;
}

.checkout {
    float: right;
    margin-right: 5%;
    width: 28%;
}

.total {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Subtotal {
    font-size: 22px;
    font-weight: 700;
    color: #202020;
}

.items {
    font-size: 16px;
    font-weight: 500;
    color: #909090;
    line-height: 10px;
}

.total-amount {
    font-size: 36px;
    font-weight: 900;
    color: #202020;
}

.button {
    margin-top: 5px;
    width: 100%;
    height: 40px;
    border: none;
    background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #202020;
}


/* //#1C4C56 */


/* #f0db87 */

.dark-mode {
    background-color: black;
    color: white;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px black;
    /* If you want dots under the hoverable text */
}


/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 190px;
    background-color: black;
    color: #8EB7EB;
    border-radius: 6px;
    text-align: center;
    padding: 1px 0;
    /*Positionthetooltip*/
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 30%;
    margin-left: -60px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
}