<title>
    Cart</title>
</head>

<body>
    <%- include("../partials/usernav") %>
        <div class="alert-target">

        </div>
        <main class="container">
            <div class="cartinto mt-3">
                <h1 class="my-2">Your Cart </h1>
                <hr>
            </div>
            o i am nothing now?
        </main>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script>
            const postOrder = async(url, data) => {
                console.log("Entered in to fetch")
                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                return response.json();
            }
            const razorpay = (order) => {
                var options = {
                    "key": order.rzp_key,
                    "amount": order.amount,
                    "currency": "INR",
                    "name": "APNA CART",
                    "description": "Test Transaction",
                    "order_id": order.id,
                    "image": "https://pngimg.com/uploads/shopping_cart/shopping_cart_PNG38.png",
                    "handler": function(response) {
                        // alert(response.razorpay_payment_id);
                        // alert(response.razorpay_order_id);
                        // alert(response.razorpay_signature)
                        console.log(response);
                        console.log(response)
                        response.order = order;
                        fetch('/user/order/verify', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(response)
                        }).then((res) => {
                            return res.json()
                        }).then((resData) => {
                            if (resData.status == `success`)
                                window.location.href = `/User/orders`
                        }).catch(() => console.log("OOps Could not send Data"))
                    },
                    "prefill": {
                        "name": "<%=//loginUser ? loginUser.username : 'not set'%>",
                        "email": "<%=//loginUser ? loginUser.email : 'not set'%>",

                    },
                    "notes": {
                        "address": "Razorpay Corporate Office"
                    },
                    "theme": {
                        "color": "#00BCD4"
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.on('payment.failed', function(response) {

                    fetch("/user/order/paymentfail", {
                        method: "POST",
                        headers: {
                            'Content-Type': "application/json"
                        },
                        body: JSON.stringify(response)
                    }).then((res) => {
                        return res.json()
                    }).then((res) => {
                        window.location.href = res.redirect
                    });
                });
                console.log("Hit the RZP")
                rzp1.open();

            }
            document.getElementById("rzp-checkout").addEventListener("click", (e) => {
                    e.preventDefault();
                    const amount = document.getElementById("finalPrice").innerText * 100;
                    console.log(amount);
                    let data = {
                        amount: amount,
                        currency: "INR",
                    }

                    postOrder("/user/order", data).then((order) => {

                        if (order.failure) {
                            window.location.href = "/User/cart";
                        } else {
                            document.getElementById('paymentModalLabel').innerText = order.id;
                            const myModal = new mdb.Modal(document.getElementById('paymentModal'), {
                                backdrop: `static`
                            });
                            myModal.show();
                            document.getElementById('rzp-payment').addEventListener("click", (e) => {
                                razorpay(order);
                            })
                        }
                    })
                })
                //     .catch((e)=>{
                //             document.getElementById('alert-target').innerHTML=`<div class="alert alert-danger" id="fail-alert" role="alert">
                //     There was a problem with payment! Please Try again!
                //   </div>`
                //   const myAlert = document.getElementById('fail-alert');
                //   const bsAlert = new bootstrap.Alert(myAlert);
                //   setTimeout(()=>{bsAlert.close()},3000);
                //     })
        </script>
        <%- include("../partials/footer") %>