<html>
    <head>
        <title>Our products</title>
    </head>
    <body>
        <%- include('../partials/usernav.ejs') %>
        <!-- <h1>IT IS WORKING</h1> 
        <h1><%- products %></h1>
        <h1>product 1 name</h1>
        <h1><%- products[1].name %></h1> -->

        <%- include('../partials/footer.ejs') %>
    </body>
</html>