
<html>
    <head></head>
    <body>
        <% if (products.length > 0) { %>
            <h1>FII PRODUCTS</h1>
        <% } else { %>
            <h1>No products to display</h1>
        <% } %>
    </body>
</html>