<h1>IT IS WORKING</h1> 
<h1><%- products %></h1>
<h1>product 1 name</h1><h1><%- products[1].name %></h1>

<!-- <html>
    <head></head>
    <body>
        <% if (products.length > 0) { %
            <h1>FII PRODUCTS</h1>
        <% } else { %>
            <h1>No products to display</h1>
        <% } %>
    </body>
</html> -->