<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/shoppingbag.css">
    <link rel="stylesheet" type="text/css" href="/css/grid-template.css">

    <script src="/js/shoppingbag.js"></script>

    <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />

    <title>Shopping Cart</title>

</head>

<body>
    <div class="grid-container">
        <div>
            <%- include ('../partials/usernav.ejs')%>
        </div>
        <div class="body">

            <div class="Cart-Container">

                <div class="Header">
                    <h3 class="Heading , tooltip"><span class="tooltiptext">shopping cart</span>Shopping Cart</h3>
                    <button class="Action" onclick="remove_all()">Remove all</button>
                </div>

                <div class="Cart-Items">
                    <div class="product-container">

                        

                            </div>
                    </div>
                </div>
                <hr>
                <div class="checkout">
                    <div class="total">
                        <div>
                            <div class="Subtotal">Sub-Total</div>
                            <div class="items"> 2

                            </div>
                            <div class="wriiten_items">items</div>
                        </div>
                        <div class="total-amount"></div>
                    </div>
                    <button class="button">Checkout</button>
                    <!-- <button onclick="myFunction()">Toggle dark mode</button> -->
                </div>
            </div>
        </div>

    </div>

</body>

</html>