body {
    margin: 0;
    background-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: #0d1516;
}
.brand-logo
{
    position: relative;
    left: 30px;
}

#searches
{
    display: flex;
    -o-border-radius: 20px;
    padding:  5px;
    width: 350px;
    max-width: 500px;
    background: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    position: relative;
    top : 0px;
    right: 10%;
    color: #0d1516;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #d6bd91;
    z-index: 9;
}

.nav {
    background-color: #d6bd91;
    /* padding: 10px 10vw; */
    display: flex;
    justify-content: space-between; 
}

.nav_items {
    display: flex;
    position: relative;
    top: 2px;
    align-items: center;
}


.box input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

.box a .fas {
    color: #1C4C56;
    font-size: 20px;
}

.nav_items a {
    margin-right: 20px
}

.nav_items a img {
    width: 30px;
}

.brand-logo
{
    width: 60px;
    height: 60px;
}

.links {
    width: 100%;
    display: flex;
    padding: 5px 5vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #1C4C56;
}

.link {
    text-transform: capitalize;
    font-size: large;
    padding: 8px;
    margin: 0 5px;
    text-decoration: none;
    color: #0d1516;
    opacity: 1;
    transition: .5s;
}

.link:hover {
    opacity: 1;
    color: #fff;
    background-color: #1C4C56;
}

h1{
    position: relative;
    top: 20%;
    right: 250%;
    float: left;
    /* text-align: center; */
    color: #0d1516;
    font-size: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: #ffffff;
    color: #89bbbb;
}
