body
{
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.pfp
{
    border-radius: 50%;
    border-color: #d6bd91;
    border-width: 100%;
    background-color: white;
    position: relative;
    top: 50%;
    left: 50%;
}