body
{
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}


.pfp img
{
    position: absolute;
    width: 10%;
    border-radius: 50%;
    border: 4px solid #d6bd91;
    position: absolute;
    top: 15%;
    left: 50%;
}

.n
{
    position: absolute;
    top: 40%;
    left: 40%;
}

.n label
{
    font-size: 1.5vw;
}

.n span
{
    font-size: 1.3vw;
    color: #d6bd91;
}

.u
{
    position: absolute;
    top: 40%;
    left: 60%;
}

.u label
{
    font-size: 1.5vw;
}

.u span
{
    font-size: 1.3vw;
    color: #d6bd91;
}

.p
{
    position: absolute;
    top: 50%;
    left: 40%;
}

.p label
{
    font-size: 1.5vw;
}
.p span
{
    font-size: 1.3vw;
    color: #d6bd91;
}

.t
{
    position: absolute;
    top: 50%;
    left: 60%;
}

.t label
{
    font-size: 1.5vw;
}

.t span
{
    color: #d6bd91;
    font-size: 1.3vw;
}