body {
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

h3
{
    font-size: 3vh;
    cursor: pointer;
    position: absolute;
    top: 11%;
    left: 100%;
}

h2 {
    text-align: center;
    position: absolute;
    top: 11%;
    left: 40%;
    color: #0d1516;
    font-size: 300%;
}

h4
{
    color: #0d1516;
    text-align: center;
}

table {
    position: absolute;
    left: 7%;
    top: 20%;
    border-collapse: collapse;
    width: 90%;
}

th,
td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #d6bd91;
}

tr:nth-child(even) {
    background-color: #fff;
}

th {
    background-color: #1c4c56;
    color: white;
}

.deleter
{
    padding: 0 10px 0 0;
}
.deleter:hover
{
    color: #d6bd91;
}

.viewer
{
    padding: 0 10px 0 0;
}
.viewer:hover
{
    color: #d6bd91;
}

button
{
    display: contents;
    position: absolute;
    left: 94%;
    top: 68%;
    z-index: 10;
    padding: 5px 5px;
    margin-right: 5px;
    outline:none;
    border: 2px solid #d6bd91;
    -o-border-radius: 20px;
    cursor: pointer;
    color: #d6bd91;
    background: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
}

a
{
    outline:none;
    text-decoration: none;
    cursor: pointer;
    color: #0d1516;
}

.name h4
{
    font-size: 200%;
    position: absolute;
    left: 20%;
    top: 20%;
}
.brand
{
    position: absolute;
    left: 20%;
    top: 35%;
}
 .seller
{
    position: absolute;
    left: 20%;
    top: 40%;
}
.price
{
    position: absolute;
    left: 20%;
    top: 80%;
}
.image
{
    position: absolute;
    left: 70%;
    top: 40%;
}
.count
{
    position: absolute;
    left: 20%;
    top: 45%;
}   
.description
{
    position: absolute;
    left: 20%;
    top: 70%;
}
.category
{
    position: absolute;
    left: 20%;
    top: 35%;
    width: 50%;
}
.color
{
    position: absolute;
    left: 20%;
    top: 50%;
} 

.editia
{
    position: absolute;
    left: 80%;
    top: 20%;
}

.foots
{
    position: relative;
    top: 100%;
}

@media screen and (max-width: 600px) {
    nav li {
        float: none;
    }
}