*
{
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: #0d1516;
    text-decoration: none;
    margin: 0;
    padding: 0;
    /* background-color: #1c4c56; */
    -o-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.logo
{
    position: absolute;
    top:0%;
    right:116%;
}

label
{
    color: #0d1516;
}

h2 
{
    text-align: center;
    position: absolute;
    top: 11%;
    left: 25%;
    color: #0d1516;
    font-size: 300%;
}

h3 
{
    font-size: 100%;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 23%;
    color: #ffffff;
}
.line {
    width: 50%;
    height: 0;
    border: 1px solid #d6bd91;
    margin: 3px;
    display: inline-block;
    position: absolute;
    top: 43%;
    left: 25%;
}

.Alogin {
    position: absolute;
    /* top: 10%; */
    left: 18%;
    height: 100%;
    width: 60%;
    background-color: #ffffff;
}

.words {
    font-size: 1.5vw;
    color: #0d1516;
    position: absolute;
    top: 23%;
    left: 39.5%;
}

label {
    font-size: 150%;
    color: #0d1516;
}

.use {
    box-sizing: border-box;
    position: absolute;
    top: 30%;
    left: 35%;
    padding: 20px;
    clear: left;
    transition-delay: 50ms;
    transition-duration: 500ms;
}

.use:hover {
    background-color: #ffffff;
    cursor: pointer;
    top: 28%;
}

.adds {
    box-sizing: border-box;
    position: absolute;
    top: 30%;
    left: 45%;
    padding: 20px;
    clear: none;
    transition-delay: 50ms;
    transition-duration: 500ms;
}

.adds:hover {
    cursor: pointer;
    top: 28%;
}

.vend {
    box-sizing: border-box;
    position: absolute;
    top: 30%;
    left: 55%;
    padding: 20px;
    clear: right;
    transition-delay: 50ms;
    transition-duration: 500ms;
}

.vend:hover {
    cursor: pointer;
    top: 28%;
}

::placeholder {
    color: #b4640c;
    opacity: 1;
}

.users {
    position: absolute;
    top: 48%;
    left: 33.5%;
    margin: 15px 0;
}

#username {
    font-size: 100%;
    padding: 5px 35px 5px 3px;
    border-radius: 2px;
    width: 250px;
    color: #b4640c;
    display: inline-block;
    border: solid;
    border-width: 1px;
    border-color: #d6bd91;
    align-content: space-between;
}

.passes {
    position: absolute;
    top: 58%;
    left: 33.5%;
    margin: 15px 0;
}

#password {
    font-size: 100%;
    padding: 5px 35px 5px 3px;
    border-radius: 2px;
    width: 250px;
    display: inline-block;
    border: solid;
    color: #b4640c;
    border-width: 1px;
    border-color: #d6bd91;
    align-content: space-between;
}

.ASbutton {
    margin: 3px;
    outline: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 4px 30px;
    background-color: #518f99;
    color: #ffffff;
    border: none;
    border-radius: 100px;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 40%;
    font-size: 180%;

}

.ASbutton:hover {
    background-color: #1c4c56;
    cursor: pointer;

}

#fyp {
    position: absolute;
    top: 70%;
    left: 37%;
    color: #0d1516;
    font-size: 150%;
    text-decoration: none;

}

#fyp:hover {
    text-decoration: underline;
    cursor: pointer;
}

input:autofill
{
    color: #b4640c;
    background-color: #d6bd91;
}

/* .message
{
    color: rgb(0, 139, 58);
    background-color: #e0ffe2;
    padding: 3px;
    border-radius: 2px;
} */
.foots
{
    position: relative;
    top: 670px;
}

#Uerror {
    color: darkred;
    background-color: #ffe0e0;
    padding: 3px;
    border-radius: 2px;
    display: none;
}

#Perror {
    color: darkred;
    background-color: #ffe0e0;
    padding: 3px;
    border-radius: 2px;
    display: none;
}