body {
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    
}

h3
{
    font-size: 3vh;
    cursor: pointer;
    position: absolute;
    top: 11%;
    left: 100%;
}

table {
    
    position: absolute;
    left: 75%;
    top: 25%;
    border-collapse: collapse;
    width: 20%;
    box-shadow: 0px 5px 10px #89bbbb;
    box-shadow: 0px 5px 10px #1C4C56;
    width: 20%;
    height: 60%;
}

th,
td {
    
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #fff;
}

th {
    
    background-color: #1c4c56;
    color: white;
}

th span 
{
    cursor: pointer;
}

#adds
{
    position: relative;
    left: 15%;
}

#adds input
{
    width: 120px;
}

a
{
    color: #d6bd91;
    text-decoration: none;
}

td button
{
    /* margin: 3px; */
    padding: 2px;
    font-size: 11px;
    width: 160%;
    outline:none;
    border: 1px solid #d6bd91;
    -o-border-radius: 20px;
    cursor: pointer;
    color: #d6bd91;
    background: #ffffff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 10px;
}